# Ambiente virtual
.venv/
venv/
ENV/

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de dados de exemplo
*.xlsx
*.xls
*.csv